manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT

params{
  rootDir = "$projectDir/../.."
}
targetDir = "${params.rootDir}/target/nextflow"


// problem 4: including configs for every component in the pipeline is a major hassle
includeConfig "$targetDir/poc/nextflow.config"
includeConfig "$targetDir/poc2/nextflow.config"

docker {
   runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir})"
}

