manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

docker.enabled = true // → docker
// singularity.enabled = true // → singularity
// podman.enabled = true // → podman
// podman.mountFlags = 'z' 
// nothing // → native

process {
  // errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
  /*withName:'poc*_process' {
    echo = true
  }*/
}
/*
docker {
  // runOptions = "-u \$(id -u):\$(id -g)"
  // fixOwnership = true
}
*/