manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// singularity.enabled = true // → singularity
// podman.enabled = true // → podman
// podman.mountFlags = 'z' 
// nothing // → native

process {
  container = 'nextflow/bash:latest'
}

// detect tempdir
tempDir = java.nio.file.Paths.get(
  System.getenv('NXF_TEMP') ?:
    System.getenv('VIASH_TEMP') ?: 
    System.getenv('TEMPDIR') ?: 
    System.getenv('TMPDIR') ?: 
    '/tmp'
).toAbsolutePath()

docker {
  enabled = true
  temp = tempDir
}
