manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

docker {
  runOptions = "-v \$(pwd):\$(pwd)"
}

// docker.enabled = true // → docker
// singularity.enabled = true // → singularity
// podman.enabled = true // → podman
// podman.mountFlags = 'z' 
// nothing // → native

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
