docker.enabled = true
docker.runOptions = "-i -v ${baseDir}:${baseDir}" // will I be able to remove this?
process.container = "dataintuitive/viash"

params {
  normalize__input_rna = "viash_no_value"
  normalize__input_mod2 = "viash_no_value"
  normalize__output_rna = "viash_no_value"
  normalize__output_mod2 = "viash_no_value"
  normalize__min_counts_per_gene = "100"
  normalize__min_counts_per_cell = "100"
}
